In [1]:
import pandas as pd

In [119]:
data_sp = {'punkt_otg': ['pnos', 'vnp'], 'ksss mat':[111,54]}

In [120]:
# data_sp = {'punkt_otg': ['pnos'], 'ksss mat':[111]}

In [121]:
spravochnik = pd.DataFrame(data=data_sp)

In [122]:
spravochnik

  punkt_otg  ksss mat
0      pnos       111
1       vnp        54

In [123]:
orders = pd.DataFrame(data={'punkt_otg': ['pnos','pnos', 'kk'], 'ksss mat':[111,111,43]})

In [124]:
orders

  punkt_otg  ksss mat
0      pnos       111
1      pnos       111
2        kk        43

In [125]:
pd.merge(orders, spravochnik,on=['punkt_otg', 'ksss mat'], how='left')

  punkt_otg  ksss mat
0      pnos       111
1      pnos       111
2        kk        43