In [1]:
import pandas as pd

In [320]:
orders = pd.read_excel('orders-test.xlsx')
graphic = pd.read_excel('graphic-test.xlsx')

In [321]:
orders

   КССС мат Пункт отгрузки  осталось произвести, тн
0    207465           ПНОС                       11
1    207464           ПНОС                       20
2    207465           ПНОС                        4
3   3149286            ВНП                        1
4    196256            ВНП                        2
5    207465            ВНП                        0
6   3148630         Тюмень                        6
7   3149286         Тюмень                        8
8    196256         Тюмень                        9

In [322]:
graphic

  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
0           ПНОС    207465        2022-06-10              9.00
1           ПНОС    207465        2022-06-11             15.00
2           ПНОС    207464        2022-06-12             18.00
3            ВНП   3149286        2022-06-15             15.00
4            ВНП    196256        2022-06-15              1.33
5            ВНП    207465        2022-06-15             14.00
6         Тюмень   3148630        2022-06-11              5.00
7         Тюмень   3149286        2022-06-11             10.00
8         Тюмень    196256        2022-06-10              3.00

In [243]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465), 'Дата_производства'].dt.date.iloc[0]

datetime.date(2022, 6, 10)

In [82]:
graphic[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465)]

  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
0           ПНОС    207465        2022-06-10               9.0
1           ПНОС    207465        2022-06-11              15.0

In [18]:
len_of_dates = len(graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465)])

In [22]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465), 'Объем_фасовки, т'][0]

9.0

In [23]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465), 'Объем_фасовки, т'][1]

15.0

In [230]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465) & (graphic['Дата_производства']=='2022-06-10'), 'Объем_фасовки, т']

0    0.0
Name: Объем_фасовки, т, dtype: float64

In [268]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465) & 
                        (graphic['Дата_производства']=='2022-06-10'), 'Объем_фасовки, т']

0    20.0
Name: Объем_фасовки, т, dtype: float64

In [297]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465) & 
                                             (graphic['Дата_производства']==graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465), 'Дата_производства'].iloc[1]), 'Дата_производства'].iloc[0]

Timestamp('2022-06-11 00:00:00')

In [282]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465), 'Дата_производства'].iloc[0]

Timestamp('2022-06-10 00:00:00')

In [323]:
def data_shipment(city, code, required_to_make):
    ## проверяем есть ли вообще в списке graphic
    if graphic[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code)].empty:
        return '-'
    ## если в таблице orders не требуется, то мы ставим черточку
    elif required_to_make == 0:
        return '-'
    ## иначе если есть и объема в графике достаточно, то мы    
    elif graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Объем_фасовки, т'].iloc[0] >= required_to_make:   
        print('Объем больше')
        ## вычитаем из объема
        ## добавить определенное дату, так как будет удалять все значения где код и пункт совпадаем
        graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Объем_фасовки, т'] -= required_to_make
        ## и возвращаем дату
        data = graphic[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code)]['Дата_производства'].dt.date.iloc[0]
        return data
    ## иначе если недостаточно объема чем требуется ...
    else:
        print('объем меньше')
        print(graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code)])
        ## и если возвращает несколько дат, то
        if len(graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code)]) > 1:
            
            ## вводим переменную длины, чтобы не выйти за пределы
            len_of_dates = len(graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code)])
            ## вводим счетчик для того чтобы присвоить правильную дату
            i = 0
            ## создаем накопительную переменную 
            storage_var = graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Объем_фасовки, т'].iloc[0]
                        
           
            ## пока объем фасовки меньше, чем требуется
            while storage_var<required_to_make and len_of_dates>1:
                print('в цикле')
                len_of_dates-=1
                ## переходим к следующей
                i+=1
                ## и прибавляем к накопительной переменной
                storage_var+= graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Объем_фасовки, т'].iloc[i]
                 ## и обнуляем в графике объем фасовки
                graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Объем_фасовки, т'].iloc[i]
                print('storage fresh, ', storage_var)
                print('required fresh, ' , required_to_make) 
                
                ## возьмем дату следующего производства
                data_of_making = graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code) & 
                                             (graphic['Дата_производства']==graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Дата_производства'].iloc[i]), 'Дата_производства'].iloc[0]
                                              
                                                                                           
                print('обнуляем')
                graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Объем_фасовки, т'] = 0
                
            print('data making', data_of_making)    
            ## вычитаем
            graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code) & 
                        (graphic['Дата_производства']==data_of_making), 'Объем_фасовки, т'] = storage_var-required_to_make
            
                
            ## по окончанию цикла возвращает тот i который требуется    
            data = graphic[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code)]['Дата_производства'].dt.date.iloc[i] 
            return data
        ## иначе если возвращается только одна дата, то мы должны обнулить ее и присвоить дату
        graphic.loc[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code), 'Объем_фасовки, т'] = 0
        return graphic[(graphic['Пункт отгрузки']==city) & (graphic['Код КССС']==code)]['Дата_производства'].dt.date.iloc[0]

In [324]:
orders['дата производства'] = orders.apply(lambda x: data_shipment(x['Пункт отгрузки'], x['КССС мат'], x['осталось произвести, тн']), axis=1)

объем меньше
  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
0           ПНОС    207465        2022-06-10               9.0
1           ПНОС    207465        2022-06-11              15.0
в цикле
storage fresh,  24.0
required fresh,  11
обнуляем
data making 2022-06-11 00:00:00
объем меньше
  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
2           ПНОС    207464        2022-06-12              18.0
объем меньше
  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
0           ПНОС    207465        2022-06-10               0.0
1           ПНОС    207465        2022-06-11              13.0
в цикле
storage fresh,  13.0
required fresh,  4
обнуляем
data making 2022-06-11 00:00:00
Объем больше
объем меньше
  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
4            ВНП    196256        2022-06-15              1.33
объем меньше
  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
6         Тюмень   3148630        2022-06-11               5.0
Объем больше
объем меньше
  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
8         Тюмень    196256        2022-06-10               3.0

In [325]:
orders

   КССС мат Пункт отгрузки  осталось произвести, тн дата производства
0    207465           ПНОС                       11        2022-06-11
1    207464           ПНОС                       20        2022-06-12
2    207465           ПНОС                        4        2022-06-11
3   3149286            ВНП                        1        2022-06-15
4    196256            ВНП                        2        2022-06-15
5    207465            ВНП                        0                 -
6   3148630         Тюмень                        6        2022-06-11
7   3149286         Тюмень                        8        2022-06-11
8    196256         Тюмень                        9        2022-06-10

In [326]:
graphic

  Пункт отгрузки  Код КССС Дата_производства  Объем_фасовки, т
0           ПНОС    207465        2022-06-10               0.0
1           ПНОС    207465        2022-06-11               9.0
2           ПНОС    207464        2022-06-12               0.0
3            ВНП   3149286        2022-06-15              14.0
4            ВНП    196256        2022-06-15               0.0
5            ВНП    207465        2022-06-15              14.0
6         Тюмень   3148630        2022-06-11               0.0
7         Тюмень   3149286        2022-06-11               2.0
8         Тюмень    196256        2022-06-10               0.0

In [65]:
graphic.loc[(graphic['Пункт отгрузки']=='ПНОС') & (graphic['Код КССС']==207465), 'Объем_фасовки, т']

0     9.0
1    15.0
Name: Объем_фасовки, т, dtype: float64

In [66]:
graphic.loc[(graphic['Пункт отгрузки']=='ВНП') & (graphic['Код КССС']==3149286), 'Объем_фасовки, т'].iloc[0]

3    15.0
Name: Объем_фасовки, т, dtype: float64

In [37]:
graphic[(graphic['Пункт отгрузки']=="ПНОС") & (graphic['Код КССС']==20746)].empty

True